# 01 Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [4]:
# Create strings for path
path=r'C:\Users\Oksana Stepanova\OneDrive\Документи\Instacart Basket Analysis'

In [5]:
# Import merged Orders-Products dataframe
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [7]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9,both

In [8]:
df_ords_prods_merge.shape

(32399732, 15)

In [9]:
# Create subset of first 1 mio rows
df=df_ords_prods_merge[:1000000]

In [10]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9,both

In [11]:
df.shape

(1000000, 15)

In [26]:
df.describe()

C:\Users\Oksana Stepanova\anaconda3\Lib\site-packages\pandas\core\nanops.py:1479: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
C:\Users\Oksana Stepanova\anaconda3\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
C:\Users\Oksana Stepanova\anaconda3\Lib\site-packages\pandas\core\nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
C:\Users\Oksana Stepanova\anaconda3\Lib\site-packages\pandas\core\nanops.py:1479: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,939915.0,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.710240e+06,101788.547547,18.731714,2.686741,13.272235,NaN,27119.966748,6.078493,0.769933,44.407396,8.740095,7.465104
std,9.873682e+05,59011.894306,18.563841,2.053382,4.218017,0.0,15578.819637,5.695749,0.420876,28.925073,6.419989,3.660250
min,5.000000e+00,1.000000,1.000000,0.000000,0.000000,0.0,196.000000,1.000000,0.000000,21.000000,4.000000,1.000000
25%,8.555392e+05,50641.000000,5.000000,1.000000,10.000000,5.0,13176.000000,2.000000,1.000000,24.000000,4.000000,6.000000
50%,1.709734e+06,101164.000000,12.000000,2.000000,13.000000,7.0,26088.000000,4.000000,1.000000,24.000000,4.000000,9.000000
75%,2.565079e+06,152132.000000,27.000000,5.000000,16.000000,14.0,47766.000000,8.000000,1.000000,67.000000,16.000000,10.000000
max,3.421068e+06,206209.000000,99.000000,6.000000,23.000000,30.0,49235.000000,99.000000,1.000000,121.000000,20.000000,14.000000

# 03 Using defined function

In [35]:
# Define function
def price_label(row):
    if row['prices']<=5:
        return 'Low range product'
    elif (row['prices']>5) and (row['prices']<=15):
        return 'Mid range product'
    elif row['prices']>15:
        return 'High range product'
    else: return np.nan

In [36]:
# Apply function
df['price_range']=df.apply(price_label, axis=1)

C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_13872\3278462578.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']=df.apply(price_label, axis=1)

In [37]:
df['price_range'].value_counts(dropna=False)

price_range
Mid range product    755080
Low range product    244920
Name: count, dtype: int64

In [38]:
df['prices'].max()

14

In [39]:
df['prices'].describe()

count    1000000.000000
mean           7.465104
std            3.660250
min            1.000000
25%            6.000000
50%            9.000000
75%           10.000000
max           14.000000
Name: prices, dtype: float64

# 04 Using the loc() function

In [40]:
df.loc[df['prices']>15, 'price_range_loc']='High range product'

C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_13872\271118355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']>15, 'price_range_loc']='High range product'

In [41]:
df.loc[(df['prices']<=15) & (df['prices']>5), 'price_range_loc']='Mid range product'

In [42]:
df.loc[df['prices']<=5, 'price_range_loc']='Low range product'

In [43]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid range product    755080
Low range product    244920
Name: count, dtype: int64

In [45]:
# Range products on merged Orders-Products dataframe
df_ords_prods_merge.loc[df_ords_prods_merge['prices']>15, 'price_range_loc']='High range product'

In [46]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices']<=15) & (df_ords_prods_merge['prices']>5), 'price_range_loc']='Mid range product'

In [47]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices']<=5, 'price_range_loc']='Low range product'

In [50]:
# Check for values in the new column of product ranging
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid range product     19710469
Low range product     12301357
High range product      387906
Name: count, dtype: int64